<form [formGroup]="mainForm">
  <div class="card row" formGroupName="personalInfo">
    <div class="field">
      <label>Prénom</label>
      <input type="text" formControlName="firstname" />
    </div>
    <div class="field">
      <label>Nom</label>
      <input type="text" formControlName="lastname" />
    </div>
  </div>
  <div class="card">
    <p class="preference">Comment préférez-vous être contacté(e) ?</p>
    <mat-radio-group [formControl]="contactPreferenceCtrl">
      <mat-radio-button class="left" value="email">Mail</mat-radio-button>
      <mat-radio-button value="phone">Téléphone</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="card row" [formGroup]="emailForm" *ngIf="showEmailCtrl$ | async">
    <mat-form-field class="field">
      <label>Adresse Mail</label>
      <input type="email"  formControlName="email" />
      <mat-error> {{ getFormControlErrorText(emailCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <label>Confirmer votre adresse mail</label>
      <input type="email"  formControlName="confirm" />
      <mat-error> {{ getFormControlErrorText(confirmEmailCtrl) }}</mat-error>
    </mat-form-field>
  </div>
  <small class="error-text" *ngIf="showEmailError$ | async"
    >Les deux adresses ne correspondent pas</small
  >
  <div class="card column" *ngIf="showPhoneCtrl$ | async">
    <label>Numéro de téléphone</label>
    <input type="text" [formControl]="phoneCtrl" />
  </div>
  <div class="card" [formGroup]="loginInfoForm">
    <div class="field column">
      <label>Nom d'utilisateur</label>
      <input type="text" formControlName="username" />
    </div>
    <div class="row">
      <mat-form-field class="field">
        <label>Mot de passe</label>
        <input type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field class="field">
        <label>Confirmer votre mot de passe</label>
        <input type="password" formControlName="confirmPassword" />
      </mat-form-field>
    </div>
  </div>
  <small class="error-text" *ngIf(passwordCtrl.value)> {{ getFormControlErrorText(passwordCtrl) }}</small>
  <mat-error> {{ getFormControlErrorText(passwordCtrl) }}</mat-error>
  <small class="error-text" *ngIf="showPasswordError$! | async"
    >Les Mot de passe ne correspondent pas</small
  >
  <div class="card row">
    <input type="checkbox" />
    <p class="privacy">
      Creating an account means you're okay with our
      <span> Terms of Service</span>, <span>Privacy Policy</span> and our
      default <span>Notification Settings</span>.
    </p>
  </div>
  <button (click)="onSubmitForm()" *ngIf='mainForm.valid '[disabled]="mainForm.invalid">Create Account</button>
</form>
