<form [formGroup]="mainForm">
  <div class="card row" formGroupName="personalInfo">
    <div class="field">
      <label for="firstname">Prénom</label>
      <input type="text" formControlName="firstname" id='firstname'/>
    </div>
    <div class="field">
      <label>Nom</label>
      <input type="text" formControlName="lastname" />
    </div>
  </div>
  <div class="card">
    <p class="preference">Comment préférez-vous être contacté(e) ?</p>
    <mat-radio-group [formControl]="contactPreferenceCtrl">
      <mat-radio-button class="left" value="email">Mail</mat-radio-button>
      <mat-radio-button value="phone">Téléphone</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="card row" [formGroup]="emailForm" *ngIf="showEmailCtrl$ | async">
    <div class="field">
      <label>Adresse Mail</label>
      <input type="email" formControlName="email" />
      <small class="error-text" *ngIf="emailForm.errors">{{
        getFormControlErrorText(emailCtrl)
      }}</small>
    </div>
    <div class="field">
      <label>Confirmer votre adresse mail</label>
      <input type="email" formControlName="confirm" />
    </div>
  </div>
  <small class="error-text" *ngIf="showEmailError$ | async"
    >Les deux adresses ne correspondent pas</small
  >
  <div class="card column" *ngIf="showPhoneCtrl$ | async">
    <label>Numéro de téléphone</label>
    <input type="text" [formControl]="phoneCtrl" />
    <small class="error-text" *ngIf="phoneCtrl.errors && phoneCtrl.dirty">{{
      getFormControlErrorText(phoneCtrl)
    }}</small>
  </div>
  <div class="card" [formGroup]="loginInfoForm">
    <div class="field column">
      <label>Nom d'utilisateur</label>
      <input type="text" formControlName="username" />
    </div>
    <div class="row">
      <div class="field">
        <label>Mot de passe</label>
        <input type="password" formControlName="password" />
      </div>
      <div class="field">
        <label>Confirmer votre mot de passe</label>
        <input type="password" formControlName="confirmPassword" />
      </div>
    </div>
  </div>
  <small class="error-text" *ngIf="loginInfoForm.errors">
    {{ getFormControlErrorText(passwordCtrl) }}</small
  >
  <small class="error-text" *ngIf="showPasswordError$! | async"
    >Les Mot de passe ne correspondent pas</small
  >
  <div class="card row">
    <input type="checkbox" />
    <p class="privacy">
      Creating an account means you're okay with our
      <span> Terms of Service</span>, <span>Privacy Policy</span> and our
      default <span>Notification Settings</span>.
    </p>
  </div>
  <button
    (click)="onSubmitForm()"
    *ngIf="mainForm.valid"
    [disabled]="mainForm.invalid"
  >
    Create Account
  </button>
</form>
